<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.AuthorMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Author" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qqnumber" property="qqnumber" jdbcType="INTEGER" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nickname, password, phone, flag, createtime, email, qqnumber, headimg
  </sql>
    <!--作者表信息添加-->
  <insert id="save" parameterType="com.qfedu.pojo.Author" >
    insert into t_author (nickname, password, phone, 
      flag, createtime, email, 
      qqnumber, headimg)
    values (#{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      1, now(), #{email,jdbcType=VARCHAR},
      #{qqnumber,jdbcType=INTEGER}, 'http:////img4.duitang.com//uploads//item//201611//23//20161123172514_ueSAZ.jpeg')
  </insert>
    <!--根据作者名查询作者信息-->
  <select id="queryByNickName" resultType="com.qfedu.pojo.Author">
    select * from t_author where nickname=#{nickname}
  </select>
    <!--通过作者ID修改作者表信息-->
    <update id="updateAuthor" parameterType="com.qfedu.common.vo.AuthorVo">
        update t_author set email=#{email},qqnumber=#{qqnumber} where id=#{id}
    </update>
    <!--通过作者名修改密码-->
    <update id="updateByNickName" parameterType="com.qfedu.pojo.Author">
        update t_author set password=#{password}  where nickname=#{nickname}
    </update>
  <!--通过作者ID修改作者表头像-->
  <update id="updateHeadimg" parameterType="com.qfedu.pojo.Author" >
        update t_author set headimg=#{headimg} where id=#{id}
    </update>
</mapper>