<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.AuthorMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Author" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qqnumber" property="qqnumber" jdbcType="INTEGER" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nickname, password, phone, flag, createtime, email, qqnumber, headimg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_author
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_author
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.qfedu.pojo.Author" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_author (nickname, password, phone, 
      flag, createtime, email, 
      qqnumber, headimg)
    values (#{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}, #{email,jdbcType=VARCHAR}, 
      #{qqnumber,jdbcType=INTEGER}, 'http:////img4.duitang.com//uploads//item//201611//23//20161123172514_ueSAZ.jpeg')
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Author" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_author
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qqnumber != null" >
        qqnumber,
      </if>
      <if test="headimg != null" >
        headimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qqnumber != null" >
        #{qqnumber,jdbcType=INTEGER},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Author" >
    update t_author
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qqnumber != null" >
        qqnumber = #{qqnumber,jdbcType=INTEGER},
      </if>
      <if test="headimg != null" >
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Author" >
    update t_author
    set password = #{password},
      phone = #{phone},
      flag = #{flag},
      createtime = #{createtime},
      email = #{email},
      qqnumber = #{qqnumber},
      headimg = #{headimg}
    where nickname = #{nickname}
  </update>
  <select id="queryByNickName" resultType="com.qfedu.pojo.Author">
    select * rom t_author where nickname = #{nickname}
  </select>
</mapper>