<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.BookimgMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Bookimg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bookimg" jdbcType="VARCHAR" property="bookimg" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bookimg, bookid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bookimg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bookimg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Bookimg">
    insert into t_bookimg (id, bookimg, bookid
      )
    values (#{id,jdbcType=INTEGER}, #{bookimg,jdbcType=VARCHAR}, #{bookid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Bookimg">
    insert into t_bookimg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookimg != null">
        bookimg,
      </if>
      <if test="bookid != null">
        bookid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookimg != null">
        #{bookimg,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        #{bookid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Bookimg">
    update t_bookimg
    <set>
      <if test="bookimg != null">
        bookimg = #{bookimg,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        bookid = #{bookid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Bookimg">
    update t_bookimg
    set bookimg = #{bookimg,jdbcType=VARCHAR},
      bookid = #{bookid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>