<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Book" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="auid" property="auid" jdbcType="INTEGER" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="expense" property="expense" jdbcType="VARCHAR" />
    <result column="wordnum" property="wordnum" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, auid, typeid, status, expense, wordnum,flag, info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BookDetail" parameterType="java.lang.Integer" >
    select book.* , author.nickname as authorname ,img.bookimg ,ty.name as typename from t_book book
    left join  t_author author on book.auid = author.id
    left join t_bookimg img on img.bookid = book.id
    left join t_type ty on ty.id = book.typeid
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Book" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_book (name, auid, typeid, 
      status, expense,
      wordnum, flag,info)
    values (#{name,jdbcType=VARCHAR}, #{auid,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR},  #{expense,jdbcType=VARCHAR},
      #{wordnum,jdbcType=INTEGER},#{flag,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Book" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="auid != null" >
        auid,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="expense != null" >
        expense,
      </if>
      <if test="wordnum != null" >
        wordnum,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="auid != null" >
        #{auid,jdbcType=INTEGER},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=VARCHAR},
      </if>
      <if test="wordnum != null" >
        #{wordnum,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Book" >
    update t_book
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="auid != null" >
        auid = #{auid,jdbcType=INTEGER},
      </if>
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=VARCHAR},
      </if>
      <if test="wordnum != null" >
        wordnum = #{wordnum,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Book" >
    update t_book
    set name = #{name,jdbcType=VARCHAR},
      auid = #{auid,jdbcType=INTEGER},
      typeid = #{typeid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      expense = #{expense,jdbcType=VARCHAR},
      wordnum = #{wordnum,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BookDetail" type="com.qfedu.pojo.Book">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="auid" property="auid" jdbcType="INTEGER" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="expense" property="expense" jdbcType="VARCHAR" />
    <result column="wordnum" property="wordnum" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <association property="author" javaType="com.qfedu.pojo.Author">
      <id column="auid" property="id" jdbcType="INTEGER"></id>
      <result property="nickname" column="authorname"  jdbcType="VARCHAR"></result>
      <result column="nickname" property="nickname" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="flag" property="flag" jdbcType="INTEGER" />
      <result column="createtime" property="createtime" jdbcType="DATE" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="qqnumber" property="qqnumber" jdbcType="INTEGER" />
      <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    </association>
    <collection property="bookimg" ofType="com.qfedu.pojo.Bookimg" >
      <id column="bookimgid" property="id" jdbcType="INTEGER"></id>
      <result property="bookimages" column="images" jdbcType="VARCHAR"></result>
      <result column="bookid" property="bookid" javaType="INTEGER"></result>
    </collection>
    <collection property="type" ofType="com.qfedu.pojo.Type">
      <id column="typeid" property="id" jdbcType="INTEGER"></id>
      <result property="name" column="typename"></result>
    </collection>
  </resultMap>
  <select id="selectByName" resultMap="BookDetail" >
    select book.* , author.* ,img.images ,ty.* from t_book book
    left join  t_author author on book.auid = author.id
    left join t_bookimg img on img.bookid = book.id
    left join t_type ty on ty.id = book.typeid
    where book.name = #{bookname}
  </select>
  <!--分类查询-->

</mapper>