<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.HistoryMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.History" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="bookid" property="bookid" jdbcType="INTEGER" />
    <result column="click" property="click" jdbcType="INTEGER"/>
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, bookid,click, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.History" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_history (uid, bookid,click, createdate
      )
    values (#{uid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER},1, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.History" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="bookid != null" >
      bookid,
    </if>
      <if test="click != null" >
        click,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="click != null" >
        #{click,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.History" >
    update t_history
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        bookid = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="click != null" >
        #{click,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.History" >
    update t_history
    set uid = #{uid,jdbcType=INTEGER},
      bookid = #{bookid,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectTotalClick" resultType="java.util.HashMap" parameterType="int">
    select book.name,sum(click) from t_history history
    left join t_book book on book.id = history.bookid
    group by bookid order by sum(click)
    <if test="param != 0">
      desc
    </if>
    limit 0,20
  </select>

  <select id="selectTotalClickByBookid"  parameterType="int">
    select book.name,sum(click) from t_history history
    left join t_book book on book.id = history.bookid
    where bookid = #{bookid}
    group by bookid
  </select>

  <select id="selectLastMonthClick" resultType="java.util.HashMap" parameterType="int">
    select book.name,sum(click) from t_history history
    left join t_book book on book.id = history.bookid
    where date_format(createdate,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m')
    group by bookid order by sum(click)
    <if test="param != 0">
      desc
    </if>
    limit 0,20
  </select>

  <select id="selectCurrentMonthClick" resultType="java.util.HashMap" parameterType="int">
    select book.name,sum(click) from t_history history
    left join t_book book on book.id = history.bookid
    where date_format(createdate,'%Y-%m')=date_format(curdate(),'%Y-%m')
    group by bookid order by sum(click)
    <if test="param != 0">
      desc
    </if>
    limit 0,20
  </select>

  <select id="selectHistoryByUid" resultType="java.util.HashMap" parameterType="int">
    select book.name,history.createdate from t_history history
    left join t_book book  on book.id = history.bookid
    where uid=#{uid} group by bookid order by createdate desc
  </select>
</mapper>