<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.qfedu.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="DATE"/>
        <result column="lastsingin" property="lastsingin" jdbcType="TIMESTAMP"/>
        <result column="sigindays" property="sigindays" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="headimg" property="headimg" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, nickname, password, phone, flag, createtime, lastsingin, sigindays, score, headimg
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>





    <!--1.注册-->
    <insert id="insert" parameterType="com.qfedu.pojo.User">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            flag,
            createtime,
            <if test="lastsingin != null">
                lastsingin,
            </if>
            sigindays,
                score,
            <if test="headimg != null">
                headimg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            1,
            now(),
            <if test="lastsingin != null">
                #{lastsingin,jdbcType=TIMESTAMP},
            </if>
            0,
            0,
            <if test="headimg != null">
                #{headimg,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--2.登录-->
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where nickname=#{name} or phone=#{name}
    </select>

    <!--2.1.记录登录时间-->
    <update id="updateLastLogin" parameterType="java.lang.Integer">
      update t_user set lastsingin=now() where id = #{id,jdbcType=INTEGER}
    </update>

    <!--2.2.签到：更改连续登录天数-->
    <update id="updateLoginDays" >
      update t_user set sigindays=sigindays+#{num},score=score+#{scores} where id = #{id,jdbcType=INTEGER}
    </update>

    <!--3.校验用户名-->
    <select id="selectByNickname" resultType="java.lang.Integer" parameterType="java.lang.String">
      select id from t_user where nickname=#{nickname}
    </select>
    <!--4.校验手机号-->
    <select id="selectByPhone" resultType="java.lang.Integer" parameterType="java.lang.String">
      select id from t_user where phone=#{phone}
    </select>
    <!--5.修改用户信息-->
    <update id="updateDetail" parameterType="com.qfedu.pojo.User">
        update t_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=DATE},
            </if>
            <if test="lastsingin != null">
                lastsingin = #{lastsingin,jdbcType=TIMESTAMP},
            </if>
            <if test="sigindays != null">
                sigindays = #{sigindays,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="headimg != null">
                headimg = #{headimg,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--6.1.检查用户原密码-->
    <select id="selectOriPass" resultType="java.lang.Integer" parameterType="java.lang.Integer">
      select password from t_user where id=#{id}
    </select>
    <!--6.2.修改用户密码-->
    <update id="updatePass">
        update t_user set password=#{password} where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>