<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">


    <!-- 1.配置connectionFactory -->
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>tcp://10.8.163.53:61616</value>
                </property>
            </bean>
        </property>
        <property name="maxConnections" value="100"></property>
    </bean>

    <!-- 2.定义消息目标 -->
    <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="queue_temp"></constructor-arg>
    </bean>


    <!-- 3.配置Spring JMS Template -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!-- 3.1 注入jmsFactory -->
        <property name="connectionFactory" ref="jmsFactory"></property>

        <!-- 3.2 配置消息目标 -->
        <property name="defaultDestination" ref="destination"/>
    </bean>

    <!-- 4.配置生产者 -->
    <bean id="myProducer" class="com.qfedu.activemq.myProducer">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>

    <!-- 5.配置消费者 -->
    <bean id="myConsumer" class="com.qfedu.activemq.myConsumer"></bean>

    <!-- 消息监听容器 -->
    <bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="destination" ref="destination"/>
        <property name="messageListener" ref="myConsumer"/>
    </bean>


</beans>