<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.AuthordetailMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Authordetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="auid" property="auid" jdbcType="INTEGER" />
    <result column="idcard" property="idcard" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postnumber" property="postnumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, auid, idcard, address, postnumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_authordetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_authordetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Authordetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_authordetail (auid, idcard, address, 
      postnumber)
    values (#{auid,jdbcType=INTEGER}, #{idcard,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{postnumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Authordetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_authordetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auid != null" >
        auid,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="postnumber != null" >
        postnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auid != null" >
        #{auid,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postnumber != null" >
        #{postnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Authordetail" >
    update t_authordetail
    <set >
      <if test="auid != null" >
        auid = #{auid,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postnumber != null" >
        postnumber = #{postnumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Authordetail" >
    update t_authordetail
    set auid = #{auid,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      postnumber = #{postnumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>