<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.MarkMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Mark" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="bookid" property="bookid" jdbcType="INTEGER" />
    <result column="chapterid" property="chapterid" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, bookid, chapterid, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="int">
    delete from t_mark
    where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Mark" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mark (uid, bookid, chapterid, 
      createdate)
    values (#{uid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, #{chapterid,jdbcType=INTEGER},now())
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Mark" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="chapterid != null" >
        chapterid,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="chapterid != null" >
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Mark" >
    update t_mark
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        bookid = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="chapterid != null" >
        chapterid = #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Mark" >
    update t_mark
    set uid = #{uid,jdbcType=INTEGER},
      bookid = #{bookid,jdbcType=INTEGER},
      chapterid = #{chapterid,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUid" resultType="com.qfedu.common.vo.ShelfVo">
    SELECT ma.id,ma.bookid,ma.chapterid as newchapterid,bo.`name` as bookname ,
au.id as auid ,ch.chaptername as newchaptername ,au.nickname as authname,ma.createdate from t_mark ma
INNER JOIN t_book bo on ma.bookid=bo.id
INNER JOIN  t_chapter ch on ma.chapterid=ch.id INNER JOIN t_author au on au.id=bo.auid where uid=#{uid}
  </select>
</mapper>