<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.WalletMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Wallet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="monthticket" property="monthticket" jdbcType="INTEGER" />
    <result column="recharge" property="recharge" jdbcType="INTEGER" />
    <result column="rechargetime" property="rechargetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, money, monthticket, recharge, rechargetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wallet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wallet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Wallet" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_wallet (uid, money, monthticket, 
      recharge, rechargetime)
    values (#{uid,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, #{monthticket,jdbcType=INTEGER}, 
      #{recharge,jdbcType=INTEGER}, #{rechargetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Wallet" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_wallet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="monthticket != null" >
        monthticket,
      </if>
      <if test="recharge != null" >
        recharge,
      </if>
      <if test="rechargetime != null" >
        rechargetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="monthticket != null" >
        #{monthticket,jdbcType=INTEGER},
      </if>
      <if test="recharge != null" >
        #{recharge,jdbcType=INTEGER},
      </if>
      <if test="rechargetime != null" >
        #{rechargetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Wallet" >
    update t_wallet
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="monthticket != null" >
        monthticket = #{monthticket,jdbcType=INTEGER},
      </if>
      <if test="recharge != null" >
        recharge = #{recharge,jdbcType=INTEGER},
      </if>
      <if test="rechargetime != null" >
        rechargetime = #{rechargetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Wallet" >
    update t_wallet
    set uid = #{uid,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER},
      monthticket = #{monthticket,jdbcType=INTEGER},
      recharge = #{recharge,jdbcType=INTEGER},
      rechargetime = #{rechargetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>